body {
    background: rgb(58,180,170);
    background: linear-gradient(45deg, rgba(58,180,170,1) 50%, rgba(153,29,253,0.7679446778711485) 50%, rgba(69,205,252,1)0%);
}

main {
  padding: 1rem;
}

.appbar {
  padding: 1rem;
  width:100%;
}

.menu-small {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-small svg {
   height: 26px;
   fill:#cf120f;
}

.menu-small svg:hover {
  cursor: pointer;
}

.cart-items {
   position: relative;
   font-size:14px;
}
 
.cart-item-count {
  color:#cf120f;
  position: absolute;
  top: 0px;
  left: 16px;
  font-weight: bold;
  display: inline;
}

.cart-item-count:hover {
  cursor: pointer
}

/* Page Header Styles */
.page-header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color:#575152;
  margin: 1.5rem 0;
}

.page-header h1 {
  font-size: 3rem;
  line-height: 2.5rem;;
  font-weight: 800;
}

.page-header p {
  font-size:1.125rem;
}

/* YOUR STYLE START HERE */
.image {
  background-color: transparent;
    border: solid black 1px;
    padding: 1rem;
    box-shadow: 5px 5px 15px #888888;
}

h2 {
  margin-top: 1rem;
}

.image:hover {
  cursor: pointer
}

p {
  font-weight: bold;
  margin-bottom: 2rem;
}

/* Medium Viewport */
@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 960px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .product {
    max-width: none;
    margin: 0;
    width: calc(33% - 1rem);
  }
}

/* Medium Viewport */
@media screen and (min-width: 992px) {
  .appbar {
    max-width: 1250px;
    margin: 0 auto;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .product {
    max-width: 380px;
    margin: 0;
    width: calc(25% - 1rem);
  }
}